* {
	box-sizing: border-box;
	padding: 0;
	margin: 0
}

html {
	font-size: 62.5%
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 1.6rem;
	word-wrap: break-word
}

header {
	user-select: none;
	top: 62.5%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: relative;
	margin: auto;
	text-align: center
}

ul {
	list-style-type: none;
}

ul li a {
	font-family: 'Lato', sans-serif;
	font-weight: lighter;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.8);
}

ul li a:hover {
	color: #F4BF08;
}

#wrapper {
	height: 100vh;
	width: 100%;
	background-image: url("../images/background-image.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.88
}

/* Widgets */

#Weather {
	position: absolute;
	right: 1%;
	top: 3%;
}

#Links {
	position: absolute;
	left: 1%;
	top: 3%;
}

#Search {
	position: absolute;
	left: 4%;
	top: 2%;
}

#Setttings {
	position: absolute;
	bottom: 2%;
	left: 1%;
}

#Todo {
	position: absolute;
	right: 1%;
	bottom: 2%;
}

/* Time of Day */

#timeOfDay {
	color: #fff;
	margin-bottom: 2.5rem;
	font-size: 11rem
}

/* Greet and Goal */

#GreetUser {
	font-family: 'Courgette', cursive;
	color: #fff;
	font-size: 4.5rem
}

#container__goaltext {
	width: 30%;
	margin: auto;
}

#GoalofToday {
	color: #fff;
	font-size: 3.5rem;
	margin-top: 1rem
}

/* Random Quote */

#randomQuote {
	color: #fff;
	margin-top: 8rem;
	font-family: inherit;
	font-size: 2.5rem;
	font-style: italic
}

/* Input */

input {
	outline: none;
}

#goal__input {
	width: 100%;
	padding-top: 4px;
	display: block;
	background: 0;
	border: 0;
	border-bottom: 2px solid #fff;
	color: #fff;
	font-weight: 500;
	font-size: 200%;
	margin: auto;
	line-height: 200%;
	text-align: center;
}

input[type=search] {
	border: solid 1px #ccc;
	padding: 1.2rem;
	width: 12rem;
	margin-left: 1rem;
	border-radius: 10em;
	transition: all .5s;
}

input[type=search]:focus {
	width: 20rem;
	background-color: #fff;
}

/* Modal */

#modal {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	background-color: rgba(22, 22, 22, 0.8);
	z-index: 20;
	opacity: 0;
	visibility: hidden;
	transition: all .3s;
}

#modal__content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 200px;
	width: 35%;
	height: 55%;
	padding: 2.5rem;
	border-radius: .4rem;
	background-color: #fff;
	box-shadow: 0 2rem 4rem rgba(22, 22, 22, 0.2);
	font-size: 2.3rem;
	overflow-y: scroll;
}

#modal__content__todos {
	text-align: center;
	width: 100%;
	font-size: 2rem;
}

#modal:target {
	opacity: 1;
	visibility: visible;
}

/* Todo list */

#todo__container {
	margin: auto;
	width: 80%;
}

#hide-completed {
	margin-top: 10px;
	margin-bottom: 20px;
}

.todoDiv {
	padding: 5px;
}

.todoDiv__title {
	margin-bottom: 20px;
}

.todoDiv__checkbox {
	border: 2px solid #333;
	width: 20px;
	height: 20px;
	vertical-align: middle;
}

.todoDiv__span {
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
}

.todoDiv__removeButton {
	color: #222;
	border: 2px solid #ddd;
	width: 20px;
	height: 20px;
	vertical-align: middle;
}

#todoTitle {
	margin-top: 75px;
	text-align: center;
}

#search-text {
	display: block;
	margin: auto;
	padding: .8rem;
	border-radius: 4px;
}

.todo__toggled {
	text-decoration: line-through;
	opacity: 0.7;
}

/* Utility Classes */

.utility__center {
	text-align: center
}

.utility__times,
.utility__times:link,
.utility__times:visited {
	position: absolute;
	top: 2.5rem;
	right: 2.5rem;
	text-decoration: none;
	color: #666;
	transition: all .2s;
}

.utility__times:hover {
	color: #333
}

/* Media Queries */

@media only screen and (max-width: 75em) {
	html {
		font-size: 56.25%;
	}
}

@media only screen and (max-width: 56.25em) {
	html {
		font-size: 50%;
	}
}
